<section class="clean-block">
    <div class="container">
        <div class="block-heading">
            <p class="text-left sorlingas-p1-noindent" style="font-weight:bold">Electronic Navigational Charts (ENCs)<br></p><img align="right" style="width:600px;margin-left:15px;margin-right:15px" src="assets/static/assets/img/Gravesend_ENC.png" />
<p></p>
<p class="text-left sorlingas-p2-indent">These are digital datasets that conform to the IHO’s S-57 ENC Product Specification recording all the relevant charted features necessary for safe navigation such as coastline, bathymetry, buoys and lights. They display in Electronic Chart Systems (ECS).

The ECS converts the ENC into its own native System ENC (SENC) format. The SENC

format is optimised by the manufacturer for correct and efficient display. Features and their attributes (for example position, colour and shape) can be selectively displayed and queried creating the potential to customise the image on screen and to integrate with other on-board systems.

ENCs fall into 6 usage bands ranging from the smallest scale (1 - Overview) to the largest (6 - Berthing). Bands 1 to 5 (Harbour) are generally produced by national charting authorities and tend to be vector reproductions of pre-existing paper charts. Only national hydrographic offices are sanctioned to produce official ENCs - those that satisfy SOLAS carriage compliance. Official berthing scale coverage is at present quite limited so many ports produce their own unofficial, though perfectly fit for purpose, band 6 ENCs.

Sorlingas currently maintains four berthing scale ENCs on behalf of the Port of London Authority. These are used of a variety of ECS including the on-board display systems of PLA craft and pilot carry-on-board units - PPUs and tablets. Furthermore, they have been adopted into the UKHO's AVCS portfolio thus providing an extra revenue stream for both organisations and meaning that a ship's bridge team are looking at the same data as their pilot.
</p></div>
    </div>
</section>