<section class="clean-block">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Berthing scale electronic charts</h2>
            <p class="text-left sorlingas-p1-indent">Whilst rigid procedures govern the production and content of official electronic charts, ports still enjoy a surprisingly blank canvas when it comes to berthing scale digital navigation.<br></p>
            <p class="text-left sorlingas-p1-indent">With such wiggle room, no definitive nor even common path has as yet emerged. The fact that only national hydrographic offices are sanctioned to produce carriage compliant ENCs has resulted in something of a knowledge monopoly, further
                braking development.<br></p>
            <p class="text-left sorlingas-p1-indent">As a result, solutions implemented to date by ports have tended to be of the automated variety. Though very impressive ping to screen times have been achieved, an algorithm generated product is unlikely to closely resemble that with
                which the mariner is most comfortable - his Admiralty chart.<br></p>
            <p class="text-left sorlingas-p1-indent">In 2015 the Port of London Authority (PLA) took a different approach by employing an electronic chart compiler. James Wright trained as a nautical cartographer at the United Kingdom Hydrographic Office and spent eight years creating
                and maintaining Admiralty products. At the PLA, James worked within the Hydrographic Service to develop and support a folio of fully compliant ENCs as well as bENCs which are now key safety of navigation products supporting the
                pilotage function. This largest scale ENC data is seen as critical to safe and efficient navigation and is made available to pilots through portable pilot units (PPUs). Since mid 2019 James has undertaken and supported this key
                service for the PLA as a private contractor through Sorlingas Data Services.</p>
            <p class="text-left sorlingas-p1-indent">At the PLA, digital products are compiled by supplementing cartographic input to the latest survey data. Turnaround is therefore slower than with automated production, though still comparable to preceding paper solutions. Paybacks
                are that the PLA has been able to introduce levels of QC checking, integrate production with other functions and has a product with which its users are comfortable. Furthermore, the ENCs have been adopted into the UKHO's Admiralty
                Vector Chart Service thus generating a new income stream for the port.</p>
            <p class="text-left sorlingas-p1-indent">Compilation versus automation. There is no right nor wrong and each port has its own unique needs and challenges. Sorlingas Data Services has been launched by James Wright to serve ports who would like to go down the "compiled" path.
                That canvas remains blank. If you think we may be able to help or advise, please contact us.</p>
        </div>
    </div>
</section>
