<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="color: rgb(42,44,93);">
    <div class="container"><a class="navbar-brand logo" href="#" style="padding: 0px;margin: 0px;height: 66px;"><img src="assets/static/assets/img/lighthouse-notext.jpg" style="width: 90px;"><span>Sorlingas Data Services</span></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="home">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="personnel">Personnel</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="enc">ENCs</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="otherproducts">Other Products</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="contact">Contact Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="login">Log In</a></li>
            </ul>
    </div>
    </div>
</nav>
